{% extends "base.html"%}
{% block title %} Home - ToDo App
  
{% endblock title %}

{% block body %}




<div class="container my-6">
  <div class="container my-5">
    <h1>ToDo</h1>
    <form  name="myForm" action="" method="POST" onsubmit="return checkValidation()">
      <div class="mb-3 row">
        <h3>Employee Details</h3>
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="ename" id="exampleFormControlInput1" placeholder="Employee name" value="" required>
          <span class="formerror"></span>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="eemail" id="exampleFormControlInput1" placeholder="Email id" value="" required>
          <span class="formerror"></span>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="designation" id="exampleFormControlInput1" placeholder="Desigination" required>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="salary" id="exampleFormControlInput1" placeholder="Salary" required>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="address" id="exampleFormControlInput1" placeholder="Address" required>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="mobile" id="exampleFormControlInput1" placeholder="Mobile" value="" required>
          <span class="formerror"></span>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="file" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Employee name" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto my-3">
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>

      </div>

    </form>

  </div>

  

<!-- <div class="container my-6">
  <div class="container my-5">
    <h1>ToDo</h1>
    <form action="" method="POST">
      <div class="mb-3 row">
        <label for="inputTitle" class="col-sm-2 col-form-label">Add Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" id="inputTitle" value="">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto my-3">
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>

      </div>

    </form>

  </div> -->

  <div class="container my-5">

    <h2>View</h2>
    {% if allTodo|length == 0 %}
    <div class="alert alert-dark" role="alert">
      No ToDo record Found! Please, Add your ToDo record!
    </div>

    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">Desigination</th>
          <th scope="col">Salary</th>
          <th scope="col">Date Created</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        {% for todo in allTodo %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.ename}}</td>
          <td>{{todo.eemail}}</td>
          <td>{{todo.designation}}</td>
          <td>{{todo.salary}}</td>
          <td>{{todo.date_created}}</td>
          <td><a href="/update/{{todo.sno}}"><button type="button"
                class="btn btn-outline-dark btn-sm mx-1">Update</button></a>
            <a href="/delete/{{todo.sno}}"><button type="button"
                class="btn btn-outline-dark btn-sm mx-1">Delete</button></a>
          </td>
        </tr>

        {% endfor %}


      </tbody>


      {% endif %}

    </table>
  </div>
</div>
{% endblock body %}